#container {   
    width: 400px;   
    height: 400px;   
    position: relative;   
    background: yellow; 
} 
#redBlock {   
    width: 50px;   
    height: 50px;   
    position: absolute;   
    background-color: red; 
}  
#blueBlock {   
    width: 50px;  
     height: 50px;   
     bottom: 0px;   
     right: 0px;   
     position:absolute;   
     background-color: blue; 
    } 